.addform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin: 0 auto;
}

.addform input, select {
    font-size: 1.2rem;
}

.form-textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    height: 150px;
    /* width: 500px; */
}   

