.last-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.search {
    font-size: 1.2rem;
    width: -webkit-fill-available;
    max-width: 800px;
    /* border-radius: 5px; */
    padding: 5px 0 5px 10px;
}