.card {
    display: grid;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
}

.card figure {
    max-width: 300px;
    max-height: 300px;
}

.card figure img {
    max-width: 300px;
    max-height: 300px;
}